<div class="row panel">
 
  <h6> Viewing User: <%= @user.login.nil? ? "This User has not registerred yet" : @user.login %></h6>
  <br/>
  <h6> Details: </h6>
  <h5 class="subheader">Account created on <%=@user.created_at.strftime("%m/%d/%Y") %><br/>
  Account updated on <%=@user.updated_at.strftime("%m/%d/%Y") %></h5>


</div>