<div class="row panel large-12">
	<h6> Products (<%= @products.count %>) </h6>
</div>
<br/>

<div class="row large-12">
<table border="0" class="large-12">
	<thead>
		<tr>
			<th>Name</td>
			<th>Price</td>
			<th>Edit</td>
		</tr>
	</thead>
	<% @products.each do | product | %>
	<tr>
		<td><%= product.name %></td>
		<td>$<%= number_with_precision(product.price, :precision => 2) %></td>
		<td><%= link_to "Edit", edit_product_path(product) %></td>
	</tr>
	<% end %>
</table>
</div>